[submodule "lib/Adafruit_NeoPixel"]
	path = lib/Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel.git

[submodule "lib/ESP8266Arduino"]
	path = lib/ESP8266Arduino
	url = https://github.com/esp8266/Arduino.git
